app/views/books/index.html.haml
%br/
- if policy(Book).new?
  = link_to "New", new_book_path, :class => "link-color btn btn-light"
%br/
%table.table
  %thead.heading-section
    %tr
      %th{:scope => "col"} Title
      %th{:scope => "col"} Description
      %th{:scope => "col"} Author
      %th{:scope => "col"}
      %th{:scope => "col"} Action
      %th{:scope => "col"}
  %tbody.table-background
    = render partial: 'books/book', collection: @books, cached: true

app/nokogiries/index.html
<br>
<% if policy(Book).new? %>
  <%= link_to "New", new_book_path, :class => "link-color btn btn-light" %>
<% end %>
<br>
<table class="table">
  <thead class="heading-section">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Author</th>
      <th scope="col"></th>
      <th scope="col">Action</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody class="table-background">
    <%= render partial: 'books/book', collection: @books, cached: true %>
  </tbody>
</table>
